{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
<div class="conteiner">
    <div class="col-11 col-md-3 mx-auto mt-5">
        <div class="card shadow p-3">
            <img src="{{ user.profile.image.url}}" style="height: 250px; width: 350px; " alt="" >
        </div>
        <div class="card-body">
            <p> {{ user.username }} </p>
            <p> {{ user.first_name }} </p>
            <p> {{ user.last_name }} </p>
            <p> {{ user.email }} </p>
            <p> {{ user.profile.phone }} </p>
            <p> {{ user.profile.date_of_birth }} </p>
            <br />


        <a href="{% url 'profileupdat_page' %}">
            <button type="button">Update</button>
        </a>

        <a href="{% url 'password_change' %}">
            <button type="button">Change Password</button>
        </a>

        </div>
    </div>
</div>

{% endblock content %}